flows (5).json
[{"id":"69ca715e.ee22b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c55d107a.f9a64","type":"function","z":"69ca715e.ee22b","name":"PreToken","func":"global.set(\"sp\",msg.payload.sp)\nglobal.set(\"fd\",msg.payload.fd)\nglobal.set(\"sd\",msg.payload.sd)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"wd\",msg.payload.wd)\nvar apikey=\"BoJR9O5jzd_TkpXyj1Jdu26ZIrLprdqW6OFSML0fDs1X\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":380,"wires":[["2f51a4b2.699dcc"]]},{"id":"648486c0.1bf058","type":"function","z":"69ca715e.ee22b","name":"Pre Prediction","func":"var sp = global.get('sp')\nvar fd = global.get('sp')\nvar sd = global.get('sd')\nvar at = global.get('at')\nvar wd = global.get('wd')\nvar token=msg.payload.access_token\nvar instance_id=\"c61e2114-8129-4925-8a7b-3c3dcd7de81d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Slope\",\"Forest Density\",\"Snow Density\",\"Air Temperature \",\"Wind\"], \"values\": [[sp,fd,sd,at,wd]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":340,"wires":[["c89ef23f.e5fad"]]},{"id":"23eae105.42637e","type":"ui_form","z":"69ca715e.ee22b","name":"","label":"","group":"61b5ccf.7934d34","order":0,"width":0,"height":0,"options":[{"label":"Slope","value":"sp","type":"number","required":true,"rows":null},{"label":"Forest Density","value":"fd","type":"text","required":true,"rows":null},{"label":"Snow Density","value":"sd","type":"number","required":true,"rows":null},{"label":"Air Temperature","value":"at","type":"number","required":true,"rows":null},{"label":"Wind","value":"wd","type":"number","required":true,"rows":null}],"formValue":{"sp":"","fd":"","sd":"","at":"","wd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":422.9999952316284,"wires":[["c55d107a.f9a64"]]},{"id":"7279446a.bb878c","type":"ui_text","z":"69ca715e.ee22b","group":"61b5ccf.7934d34","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":440,"wires":[]},{"id":"2f51a4b2.699dcc","type":"http request","z":"69ca715e.ee22b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":300,"wires":[["648486c0.1bf058"]]},{"id":"97aded7a.9a327","type":"debug","z":"69ca715e.ee22b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"69060ba4.8b3654","type":"function","z":"69ca715e.ee22b","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":160,"wires":[["7279446a.bb878c","97aded7a.9a327"]]},{"id":"46729372.6ba32c","type":"inject","z":"69ca715e.ee22b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60,"y":320,"wires":[["c55d107a.f9a64"]]},{"id":"c89ef23f.e5fad","type":"http request","z":"69ca715e.ee22b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/221fef83-a15e-471b-ad07-357a83f4e8ad/predictions","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":260,"wires":[["69060ba4.8b3654"]]},{"id":"61b5ccf.7934d34","type":"ui_group","z":"","name":"Default","tab":"fe19b123.933d","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe19b123.933d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]